:root {
    --material-level-0: #121212;
    --material-level-1: #202020;
    --material-level-3: #2d2d2d;

    --background-color: var(--material-level-0);
    --item-background-color: var(--material-level-1);   
    --form-field-background-color: var(--material-level-3);

    --border-color: transparent;

    --text-color: #f7f7f7;
    --label-color: #a1a1aa;
    --text-color-dark: #999;

    --primary-color: #3f51b5;
    --primary-color-300: #4859B5;

    --dark-background: #27272a;
    --secondary-button-background: #3f3f46;

    --app-max-width: 700px;
    --spacing-small: 10px; 
    --spacing-small-medium: 15px; 
    --spacing: 20px;
    --spacing-medium: 30px;
    --spacing-large: 40px;

    --item-border-radius: 8px;

    --comment-width-percent: 0.7;
}
